<form [formGroup]="formUsuario" novalidate>

    <div class="form-group" [ngClass]="{
        'has-error': formUsuario.controls.name.invalid && formUsuario.controls.name.dirty
    }">
        <label>Nome*</label>
        <input type="text" class="form-control" formControlName="name"/>
         <div *ngIf="formUsuario.controls.email.invalid && (formUsuario.controls.email.dirty)" class="alert alert-danger">
            <div *ngIf="formUsuario.controls.email.errors.required">
                Nome é obrigatório
            </div>
        </div>        
    </div>
    <div class="form-group"[ngClass]="{
        'has-error': formUsuario.controls.username.invalid && formUsuario.controls.username.dirty
    }">
        <label>Nome de usuário*</label>
        <input type="text" class="form-control" formControlName="username"/>
         <div *ngIf="formUsuario.controls.email.invalid && (formUsuario.controls.email.dirty)" class="alert alert-danger">
            <div *ngIf="formUsuario.controls.email.errors.required">
                Nome de usuário é obrigatório
            </div>
        </div>        
    </div>
    <div class="form-group" [ngClass]="{
        'has-error': formUsuario.controls.email.invalid && formUsuario.controls.email.dirty
    }">
        <label>E-mail*</label>
        <input type="text" class="form-control" formControlName="email"/>
        <div *ngIf="formUsuario.controls.email.invalid && (formUsuario.controls.email.dirty)" class="alert alert-danger">
            <div *ngIf="formUsuario.controls.email.errors.required">
                O e-mail é obrigatório
            </div>
            <div *ngIf="formUsuario.controls.email.errors.email">
                O e-mail é inválido
            </div>
        </div>        
    </div>
</form>
<i>* Campos obrigatórios</i> 
<div class="col-md-12">
    <button class="btn btn-success pull-right" (click)="cadastrar()">Salvar</button>
    <a class="cancel-link pull-right" (click)="cancelar()">Cancelar</a>
</div>
